PORT=3000
JWT_SECRET=
MONGO_URI=mongodb+srv://@se-mexe.uiyghpq.mongodb.net/se-mexe?appName=

# --- CONFIGURAÇÕES DE E-MAIL (Novo) ---
# Se for Gmail, use smtp.gmail.com. Se for Outlook, use smtp.office365.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# O e-mail que vai "falar" com os usuários (Ex: admin@semexe.com ou seu gmail pessoal)
EMAIL_USER=seu.email.aqui@gmail.com

# A "Senha de App" gerada no Google (NÃO é a sua senha normal de login!)
EMAIL_PASS=sua_senha_de_app_aqui

# Endereço do seu site (para criar o link "Clique aqui para redefinir")
FRONTEND_URL=http://localhost:3000